.chart-container{
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.chart{
    padding: 5px 20px;
}


.chart h2{
    background-color: aliceblue;
    width: fit-content;
    margin: 40px auto;
    padding: 10px 30px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: center;
}