.gelary {
    margin: 20px;
    padding: 10px 55px;
    display: flex;
    justify-content: space-around;
  
}
.image {
    width: 600px;
}

.review-heading{
    background-color: aliceblue;
    width: fit-content;
    margin: 40px auto;
    padding: 10px 30px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: center;
}


.btn-l{
    text-decoration: none;
    text-align: center;
    float: right;
    margin: 0px 600px 50px 0px;
}
.btn-link{
    background-color: rgb(41, 43, 43);
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    
}