.QNA-heading{
    background-color: aliceblue;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 30px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: center;
}

.QNA{
    margin: 20px 100px;
}